{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'seating.css' %}">
    <link rel="shortcut icon" href="logo-1.png" type="image/png">
    <title>ClassMaster</title>
</head>
<body>
    <div class="container-fluid" id="form_container">
        <form method="post" action="{% url 'create_timetable' %}">
            {% csrf_token %}
        
        
            <label for="number_of_slots">Number of Slots per Day:</label>
            <input class="sinput" type="number" name="number_of_slots_per_Day" id="number_of_slots" required><br><br>
            <label for="number_of_faculty">Number of Faculty:</label>
            <input class="sinput" type="number" name="number_of_faculty" id="number_of_faculty" required><br><br>
            <div id="faculty_fields">
                <!-- This is where you'll dynamically add fields for each faculty -->
            </div>
        
            <br><br>
        
            <button class="submitbtn" type="submit">Generate Timetable</button>
        </form>
    </div>


<script>
    // JavaScript for dynamically generating faculty fields
    document.addEventListener("DOMContentLoaded", function() {
        const numberOfFacultyInput = document.getElementById("number_of_faculty");
        const facultyFieldsDiv = document.getElementById("faculty_fields");

        numberOfFacultyInput.addEventListener("change", function() {
            const newFacultyCount = parseInt(numberOfFacultyInput.value);

            while (facultyFieldsDiv.children.length < newFacultyCount) {
                const facultyCount = facultyFieldsDiv.children.length + 1;
                const newFacultyDiv = createFacultyDiv(facultyCount);
                facultyFieldsDiv.appendChild(newFacultyDiv);
            }

            while (facultyFieldsDiv.children.length > newFacultyCount) {
                facultyFieldsDiv.removeChild(facultyFieldsDiv.lastChild);
            }
        });
    });

    // Creates a new faculty field div
    function createFacultyDiv(facultyCount) {
        const newFacultyDiv = document.createElement("div");
        newFacultyDiv.innerHTML = `
            <h3>Faculty ${facultyCount}</h3>
            <label for="faculty_name_${facultyCount}">Faculty Name:</label>
            <input class='sinput' type="text" name="faculty_name[]" required><br>
            <label for="class_name_${facultyCount}">Class/Year:</label>
            <input class='sinput' type="text" name="class_name[]" required><br>
            <div id="subject_fields_${facultyCount}">
                <!-- This is where you'll dynamically add fields for each subject -->
            </div>
            <button class='submitbtn' type="button" onclick="addSubject(${facultyCount})">Add Subject</button>
            <br><br>
        `;
        return newFacultyDiv;
    }

    // JavaScript for adding subject fields dynamically
    function addSubject(facultyCount) {
        const subjectFieldsDiv = document.getElementById(`subject_fields_${facultyCount}`);
        const subjectCount = subjectFieldsDiv.children.length / 5 + 1;

        const newSubjectDiv = document.createElement("div");
        newSubjectDiv.innerHTML = `
            <label for="subject_name_${facultyCount}_${subjectCount}">Subject Name:</label>
            <input class='sinput' type="text" name="subject_name[${facultyCount}][${subjectCount - 1}]" required><br>
            <label for="subject_duration_${facultyCount}_${subjectCount}">Subject Duration:</label>
            <input class='sinput' type="number" name="subject_duration[${facultyCount}][${subjectCount - 1}]" required><br>
            <label for="subject_duration_${facultyCount}_${subjectCount}">Max Number of Batches per week</label>
            <input class='sinput' type="number" name="subject_max_batches[${facultyCount}][${subjectCount - 1}]" required><br>
            
            <label for="practical_lectures_${facultyCount}_${subjectCount}">Practical Lectures:</label>
            <select class='sinput' name="practical_lectures[${facultyCount}][${subjectCount - 1}]" required>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select><br>
            <label for="practical_batches_${facultyCount}_${subjectCount}">Max Practical Batches per week:</label>
            <input class='sinput' type="number" name="Max_Practical_Batches_per_week[${facultyCount}][${subjectCount - 1}]" min="1"><br>
        `;

        subjectFieldsDiv.appendChild(newSubjectDiv);
    }
</script>
</body>
</html>