{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="logo-1.png" type="image/png">
    <title>ClassMaster</title>
</head>
<body>
    {% block content %}
    <!-- header -->
        <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-bottom-dark"
            data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><b>ClassMaster</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html"><b
                                    class="navbtn">Home</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="project.html"><b
                                    class="navbtn">Dashbord</b></a>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item" >
                            <a class="nav-link active" aria-current="page" href="signuplogin.html" onclick="signupt()" id="sup">Sign up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="contact.html" id="lg">login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- banner -->
    <div class="container-fluid">
        <div class="row" style="background-color:white">
            <div class="col-sm-6">
                <div class="container-fluid" style="vertical-align: middle;">
                    <span style="text-align:center ;vertical-align: middle;padding:20px">
                        <h1 ><br><br>
                            Empowering Education, Transforming Futures
                        </h1>
                    </span>
                </div>
            </div>
            <div class="col-sm-6" style="padding: 30px;">
                    <!-- <div class="diamod"></div> -->
                <div class="container-fluid">
                    <img src="{%static 'banner.img' %}" class="img-fluid" id="bimg">
                </div>
            </div>
        </div>
    </div>
    <!-- service -->
    <div class="container-fluid">
        <div class="row" id="service">
            <div class="col-sm-3">
                <div class="itemcard">
                    <h3 ><a href="create_timetable"><b>Create Time table</b></a></h3>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="itemcard"><h3><b>Seating Arangement</b></h3></div>
            </div>
            <div class="col-sm-3">
                <div class="itemcard"><h3><b><a href="seating">Student Data</a></b></h3></div>
            </div>
            <div class="col-sm-3">
                <div class="itemcard">
                    <h3>
                        <b>
                            Sending Notice
                        </b>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <!-- about web -->
    <div class="container-fluid" id="about">
        <div class="row">
            <div class="col">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <span style="text-align: center; ">
                                <h2><u>About Me</u></h2>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" id="aboutp">
                            <p>
                                Hello, I'm Mohammed Samee, a passionate and driven individual currently pursuing a
                                Bachelor's degree in Computer Science. My journey in the world of technology has been an
                                exciting and fulfilling one, and I'm enthusiastic about exploring the possibilities that
                                lie ahead.
                            </p>

                            <p> My primary interest lies in Full Stack Web Development, where I get to combine my
                                creativity with problem-solving skills to build intuitive and user-friendly web
                                applications. I am well-versed in a range of technologies, including Python, C++, HTML,
                                CSS, Bootstrap, JavaScript, Django, and PostgreSQL. These tools have enabled me to
                                create dynamic and interactive web solutions that cater to various user needs.
                            </p>
                            <p>
                                Having a solid understanding of Object-Oriented Programming (OOP) concepts has been
                                instrumental in shaping the way I approach software development. It allows me to design
                                robust and scalable applications, enhancing the overall user experience.
                            </p>
                            <p>
                                Apart from my academic pursuits, I have a passion for shayari (poetry). It allows me to
                                express my emotions and creativity through beautifully woven words. Embracing the power
                                of words has been a valuable aspect of my personal growth and has also provided me with
                                a unique perspective on life and its intricacies.
                            </p>
                            <p>
                                Throughout my academic journey, I have taken on various projects and challenges, each of
                                which has contributed to my growth as a developer and problem solver. I believe in
                                continuous learning and regularly engage in new opportunities to enhance my skills and
                                stay updated with the latest industry trends.
                            </p>
                            <p>
                                As I continue on my path to becoming a proficient Full Stack Web Developer, I am excited
                                about the potential to collaborate with like-minded individuals and contribute to
                                meaningful projects that make a positive impact on people's lives.
                            <p>
                                Thank you for taking the time to get to know me better. If you would like to connect,
                                collaborate, or discuss any exciting projects, feel free to reach out. I'm always eager
                                to learn, grow, and create impactful solutions together.
                            </p>
                            <p>
                                Warm regards,<br>
                                Mohammed Samee </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="container-fluid" style="background-color: #1a1a1a;">
        <div class="modal-footer" style="background-color:#1a1a1a;color:white;">
            <div class="container-fluid" id="mfoot" style="background-color: #1a1a1a;">

                <div class="row justify-content-center text-center" id="foot">
                    <div class="col">
                        <div class="container-fluid">
                            <span>
                                <h3><i>Sailing the Code Seas: A Web Developer's Adventure</i></h3>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" id="foot">
                    <div class="col-sm-12 justify-content-center text-center">
                        <i>
                            <a target="_blank" href="https://github.com/samhk90"><img src="github.png" class="icon"></a>
                        </i>
                        <i>
                            <a target="_blank" href="https://www.instagram.com/md_samii90/"><img src="instagram.png"
                                    class="icon"></a>
                        </i>
                        <i>
                            <a target="_blank" href="https://www.linkedin.com/in/samee-shaikh-3a3406220/"><img
                                    src="linkedin.png" class="icon"></a>
                        </i>
                    </div>
                </div>
                <div class="row" id="foot">
                    <div class="col-sm-12 justify-content-center text-center">
                        <div class="container-fluid">
                            <span>
                                <h4><i>Follow Me On</i></h4>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" id="foot">
                    <div class="col-sm-12 justify-content-center text-center foot">
                        <i>
                            <img src="cc.png" class="icon"> Developed and Maintained by Samee Shaikh
                        </i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        x=document.getElementById("sup")
        function signupt(){
            signup()
        }
    </script>
    {% endblock %}

</body>
</html>